.all {
    padding: 40px;
}

#alll {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    column-gap: 40px;
}

#card-all {
    display: flex;
    gap: 15px;
    margin: 10px auto;
    width: 800px;
}

#text {
    display: block;
    font-family: sans-serif;
    width: auto;
    color: #D5F1F3;

    h2 {
        font-family: 'southghetto';
        font-size: 40px;
        letter-spacing: 1px;
        margin: 0;
        color: #69C6CE;
    }
}

#pic {
    /*блок фильма*/
    flex: 0 0 auto;
    min-height: 300px;
    width: 300px;


    img {
        object-fit: cover;
        width: 300px;
        height: 300px;
        /* display: block; */

    }
}

#list {
    h3 {
        font-family: 'southghetto';
        letter-spacing: 1px;
        margin: 0;
        color: #DE3D82;
    }

    #tracklist {
        margin: 0;
        list-style: none;
        padding: 0;

        ol {
            padding: 5px 0px 5px 26px;
        }

        li {
            padding: 3px;
            margin: 0;
            color: #D5F1F3;
            border-radius: 5px;
            font-family: sans-serif;

        }

        li:hover {
            cursor: pointer;
        }
}}



 footer {
    height: 30px;
    margin-top: 150px;
    padding: 10px;
    position: fixed;
    bottom: 0;
  }